.sticky-h1 {
    position: -webkit-sticky;
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    background-color: #f2f2f2; /* Background color for the sticky element */
    padding: 10px; /* Add some padding for better visibility */
    z-index: 100; /* Ensure it's above other content if necessary */
}

.ul {
    margin-left: 0;
}